In [2]:
# create dataframe

from pyspark.sql import SparkSession 

spark=SparkSession.builder.appName("Sample").getOrCreate()

df=spark.read.csv('/kaggle/input/pysparksession2/emp_1.csv')

In [3]:
df.show()

+------+------+------+-------+----+-----+
|   _c0|   _c1|   _c2|    _c3| _c4|  _c5|
+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
|     1|manish| 10000|  india|NULL| NULL|
|     2|  rani| 20000|    usa|NULL| NULL|
|     3| rinku| 55000|  india|NULL| NULL|
|     4|  neha| 12000|    usa|NULL| NULL|
|     5|  NULL| 20000|    usa|NULL| NULL|
|     6| rahul|  NULL|  india|NULL| NULL|
|     1|manish| 10000|  india|NULL| NULL|
|     2|  rani| 20000|    usa|NULL| NULL|
|     3| rinku| 55000|  india|NULL| NULL|
|     4|  neha| 12000|    usa|NULL| NULL|
|     5|  NULL| 20000|    usa|NULL| NULL|
|     6| rahul|  NULL|  india|NULL| NULL|
+------+------+------+-------+----+-----+

In [4]:
df1=spark.read.csv('/kaggle/input/pysparksession2/emp_1.csv',header=True)
display(df1)

DataFrame[emp_id: string, name: string, salary: string, address: string, loc: string, email: string]

In [6]:
df.printSchema()

root
 |-- _c0: string (nullable = true)
 |-- _c1: string (nullable = true)
 |-- _c2: string (nullable = true)
 |-- _c3: string (nullable = true)
 |-- _c4: string (nullable = true)
 |-- _c5: string (nullable = true)

In [7]:
df.show()

+------+------+------+-------+----+-----+
|   _c0|   _c1|   _c2|    _c3| _c4|  _c5|
+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
|     1|manish| 10000|  india|NULL| NULL|
|     2|  rani| 20000|    usa|NULL| NULL|
|     3| rinku| 55000|  india|NULL| NULL|
|     4|  neha| 12000|    usa|NULL| NULL|
|     5|  NULL| 20000|    usa|NULL| NULL|
|     6| rahul|  NULL|  india|NULL| NULL|
|     1|manish| 10000|  india|NULL| NULL|
|     2|  rani| 20000|    usa|NULL| NULL|
|     3| rinku| 55000|  india|NULL| NULL|
|     4|  neha| 12000|    usa|NULL| NULL|
|     5|  NULL| 20000|    usa|NULL| NULL|
|     6| rahul|  NULL|  india|NULL| NULL|
+------+------+------+-------+----+-----+

In [8]:
df4=spark.read.csv('/kaggle/input/pysparksession2/emp_1.csv',header=True,inferSchema=True)
df4.show()

+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
+------+------+------+-------+----+-----+
|     1|manish| 10000|  india|NULL| NULL|
|     2|  rani| 20000|    usa|NULL| NULL|
|     3| rinku| 55000|  india|NULL| NULL|
|     4|  neha| 12000|    usa|NULL| NULL|
|     5|  NULL| 20000|    usa|NULL| NULL|
|     6| rahul|  NULL|  india|NULL| NULL|
|     1|manish| 10000|  india|NULL| NULL|
|     2|  rani| 20000|    usa|NULL| NULL|
|     3| rinku| 55000|  india|NULL| NULL|
|     4|  neha| 12000|    usa|NULL| NULL|
|     5|  NULL| 20000|    usa|NULL| NULL|
|     6| rahul|  NULL|  india|NULL| NULL|
+------+------+------+-------+----+-----+

In [9]:
df4.select("emp_id","salary").show()

+------+------+
|emp_id|salary|
+------+------+
|     1| 10000|
|     2| 20000|
|     3| 55000|
|     4| 12000|
|     5| 20000|
|     6|  NULL|
|     1| 10000|
|     2| 20000|
|     3| 55000|
|     4| 12000|
|     5| 20000|
|     6|  NULL|
+------+------+

In [10]:
df4.select(df4.columns[1:3]).show()

+------+------+
|  name|salary|
+------+------+
|manish| 10000|
|  rani| 20000|
| rinku| 55000|
|  neha| 12000|
|  NULL| 20000|
| rahul|  NULL|
|manish| 10000|
|  rani| 20000|
| rinku| 55000|
|  neha| 12000|
|  NULL| 20000|
| rahul|  NULL|
+------+------+

In [11]:
df.show()

+------+------+------+-------+----+-----+
|   _c0|   _c1|   _c2|    _c3| _c4|  _c5|
+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
|     1|manish| 10000|  india|NULL| NULL|
|     2|  rani| 20000|    usa|NULL| NULL|
|     3| rinku| 55000|  india|NULL| NULL|
|     4|  neha| 12000|    usa|NULL| NULL|
|     5|  NULL| 20000|    usa|NULL| NULL|
|     6| rahul|  NULL|  india|NULL| NULL|
|     1|manish| 10000|  india|NULL| NULL|
|     2|  rani| 20000|    usa|NULL| NULL|
|     3| rinku| 55000|  india|NULL| NULL|
|     4|  neha| 12000|    usa|NULL| NULL|
|     5|  NULL| 20000|    usa|NULL| NULL|
|     6| rahul|  NULL|  india|NULL| NULL|
+------+------+------+-------+----+-----+

In [14]:
df5=spark.read.csv('/kaggle/input/pysparksession2/emp_1.csv',header=True)
df5.withColumn("salary1",df5.salary*10).show()

+------+------+------+-------+----+-----+--------+
|emp_id|  name|salary|address| loc|email| salary1|
+------+------+------+-------+----+-----+--------+
|     1|manish| 10000|  india|NULL| NULL|100000.0|
|     2|  rani| 20000|    usa|NULL| NULL|200000.0|
|     3| rinku| 55000|  india|NULL| NULL|550000.0|
|     4|  neha| 12000|    usa|NULL| NULL|120000.0|
|     5|  NULL| 20000|    usa|NULL| NULL|200000.0|
|     6| rahul|  NULL|  india|NULL| NULL|    NULL|
|     1|manish| 10000|  india|NULL| NULL|100000.0|
|     2|  rani| 20000|    usa|NULL| NULL|200000.0|
|     3| rinku| 55000|  india|NULL| NULL|550000.0|
|     4|  neha| 12000|    usa|NULL| NULL|120000.0|
|     5|  NULL| 20000|    usa|NULL| NULL|200000.0|
|     6| rahul|  NULL|  india|NULL| NULL|    NULL|
+------+------+------+-------+----+-----+--------+

In [16]:
from pyspark.sql.functions import lit
df6=spark.read.csv('/kaggle/input/pysparksession2/emp_1.csv',header=True)
df6.withColumn("country",lit("usa")).show()

+------+------+------+-------+----+-----+-------+
|emp_id|  name|salary|address| loc|email|country|
+------+------+------+-------+----+-----+-------+
|     1|manish| 10000|  india|NULL| NULL|    usa|
|     2|  rani| 20000|    usa|NULL| NULL|    usa|
|     3| rinku| 55000|  india|NULL| NULL|    usa|
|     4|  neha| 12000|    usa|NULL| NULL|    usa|
|     5|  NULL| 20000|    usa|NULL| NULL|    usa|
|     6| rahul|  NULL|  india|NULL| NULL|    usa|
|     1|manish| 10000|  india|NULL| NULL|    usa|
|     2|  rani| 20000|    usa|NULL| NULL|    usa|
|     3| rinku| 55000|  india|NULL| NULL|    usa|
|     4|  neha| 12000|    usa|NULL| NULL|    usa|
|     5|  NULL| 20000|    usa|NULL| NULL|    usa|
|     6| rahul|  NULL|  india|NULL| NULL|    usa|
+------+------+------+-------+----+-----+-------+

In [17]:
df6.withColumn("increment",lit(0)).show()

+------+------+------+-------+----+-----+---------+
|emp_id|  name|salary|address| loc|email|increment|
+------+------+------+-------+----+-----+---------+
|     1|manish| 10000|  india|NULL| NULL|        0|
|     2|  rani| 20000|    usa|NULL| NULL|        0|
|     3| rinku| 55000|  india|NULL| NULL|        0|
|     4|  neha| 12000|    usa|NULL| NULL|        0|
|     5|  NULL| 20000|    usa|NULL| NULL|        0|
|     6| rahul|  NULL|  india|NULL| NULL|        0|
|     1|manish| 10000|  india|NULL| NULL|        0|
|     2|  rani| 20000|    usa|NULL| NULL|        0|
|     3| rinku| 55000|  india|NULL| NULL|        0|
|     4|  neha| 12000|    usa|NULL| NULL|        0|
|     5|  NULL| 20000|    usa|NULL| NULL|        0|
|     6| rahul|  NULL|  india|NULL| NULL|        0|
+------+------+------+-------+----+-----+---------+

In [18]:
df7=spark.read.csv('/kaggle/input/pysparksession2/emp_1.csv',header=True)
df7.show()

+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
+------+------+------+-------+----+-----+
|     1|manish| 10000|  india|NULL| NULL|
|     2|  rani| 20000|    usa|NULL| NULL|
|     3| rinku| 55000|  india|NULL| NULL|
|     4|  neha| 12000|    usa|NULL| NULL|
|     5|  NULL| 20000|    usa|NULL| NULL|
|     6| rahul|  NULL|  india|NULL| NULL|
|     1|manish| 10000|  india|NULL| NULL|
|     2|  rani| 20000|    usa|NULL| NULL|
|     3| rinku| 55000|  india|NULL| NULL|
|     4|  neha| 12000|    usa|NULL| NULL|
|     5|  NULL| 20000|    usa|NULL| NULL|
|     6| rahul|  NULL|  india|NULL| NULL|
+------+------+------+-------+----+-----+

In [19]:
from pyspark.sql.functions import col
df8=df7.withColumn("salary",col("salary").cast("Integer"))
df8.show()

+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
+------+------+------+-------+----+-----+
|     1|manish| 10000|  india|NULL| NULL|
|     2|  rani| 20000|    usa|NULL| NULL|
|     3| rinku| 55000|  india|NULL| NULL|
|     4|  neha| 12000|    usa|NULL| NULL|
|     5|  NULL| 20000|    usa|NULL| NULL|
|     6| rahul|  NULL|  india|NULL| NULL|
|     1|manish| 10000|  india|NULL| NULL|
|     2|  rani| 20000|    usa|NULL| NULL|
|     3| rinku| 55000|  india|NULL| NULL|
|     4|  neha| 12000|    usa|NULL| NULL|
|     5|  NULL| 20000|    usa|NULL| NULL|
|     6| rahul|  NULL|  india|NULL| NULL|
+------+------+------+-------+----+-----+

In [20]:
df8.printSchema()

root
 |-- emp_id: string (nullable = true)
 |-- name: string (nullable = true)
 |-- salary: integer (nullable = true)
 |-- address: string (nullable = true)
 |-- loc: string (nullable = true)
 |-- email: string (nullable = true)

In [21]:
df7.printSchema

In [22]:
df8.withColumnRenamed("loc","location").show()

+------+------+------+-------+--------+-----+
|emp_id|  name|salary|address|location|email|
+------+------+------+-------+--------+-----+
|     1|manish| 10000|  india|    NULL| NULL|
|     2|  rani| 20000|    usa|    NULL| NULL|
|     3| rinku| 55000|  india|    NULL| NULL|
|     4|  neha| 12000|    usa|    NULL| NULL|
|     5|  NULL| 20000|    usa|    NULL| NULL|
|     6| rahul|  NULL|  india|    NULL| NULL|
|     1|manish| 10000|  india|    NULL| NULL|
|     2|  rani| 20000|    usa|    NULL| NULL|
|     3| rinku| 55000|  india|    NULL| NULL|
|     4|  neha| 12000|    usa|    NULL| NULL|
|     5|  NULL| 20000|    usa|    NULL| NULL|
|     6| rahul|  NULL|  india|    NULL| NULL|
+------+------+------+-------+--------+-----+

In [23]:
df9=spark.read.csv('/kaggle/input/pysparksession2/emp_1.csv',header=True)
df9.filter(df9.name.startswith("r")).show()

+------+-----+------+-------+----+-----+
|emp_id| name|salary|address| loc|email|
+------+-----+------+-------+----+-----+
|     2| rani| 20000|    usa|NULL| NULL|
|     3|rinku| 55000|  india|NULL| NULL|
|     6|rahul|  NULL|  india|NULL| NULL|
|     2| rani| 20000|    usa|NULL| NULL|
|     3|rinku| 55000|  india|NULL| NULL|
|     6|rahul|  NULL|  india|NULL| NULL|
+------+-----+------+-------+----+-----+

In [24]:
df10=df9.distinct()
df10.show()

+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
+------+------+------+-------+----+-----+
|     5|  NULL| 20000|    usa|NULL| NULL|
|     4|  neha| 12000|    usa|NULL| NULL|
|     2|  rani| 20000|    usa|NULL| NULL|
|     3| rinku| 55000|  india|NULL| NULL|
|     1|manish| 10000|  india|NULL| NULL|
|     6| rahul|  NULL|  india|NULL| NULL|
+------+------+------+-------+----+-----+

In [25]:
df11=spark.read.csv('/kaggle/input/pysparksession2/emp_1.csv',header=True)
df12=df11.dropDuplicates(['emp_id','salary'])
df12.show()

+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
+------+------+------+-------+----+-----+
|     1|manish| 10000|  india|NULL| NULL|
|     2|  rani| 20000|    usa|NULL| NULL|
|     3| rinku| 55000|  india|NULL| NULL|
|     4|  neha| 12000|    usa|NULL| NULL|
|     5|  NULL| 20000|    usa|NULL| NULL|
|     6| rahul|  NULL|  india|NULL| NULL|
+------+------+------+-------+----+-----+

In [26]:
df11.sort("name","salary").show()

+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
+------+------+------+-------+----+-----+
|     5|  NULL| 20000|    usa|NULL| NULL|
|     5|  NULL| 20000|    usa|NULL| NULL|
|     1|manish| 10000|  india|NULL| NULL|
|     1|manish| 10000|  india|NULL| NULL|
|     4|  neha| 12000|    usa|NULL| NULL|
|     4|  neha| 12000|    usa|NULL| NULL|
|     6| rahul|  NULL|  india|NULL| NULL|
|     6| rahul|  NULL|  india|NULL| NULL|
|     2|  rani| 20000|    usa|NULL| NULL|
|     2|  rani| 20000|    usa|NULL| NULL|
|     3| rinku| 55000|  india|NULL| NULL|
|     3| rinku| 55000|  india|NULL| NULL|
+------+------+------+-------+----+-----+

In [27]:
df14=spark.read.csv('/kaggle/input/pysparksession2/emp_1.csv',header=True)
df14.sort(df14.salary.desc()).show()

+------+------+------+-------+----+-----+
|emp_id|  name|salary|address| loc|email|
+------+------+------+-------+----+-----+
|     3| rinku| 55000|  india|NULL| NULL|
|     3| rinku| 55000|  india|NULL| NULL|
|     2|  rani| 20000|    usa|NULL| NULL|
|     5|  NULL| 20000|    usa|NULL| NULL|
|     2|  rani| 20000|    usa|NULL| NULL|
|     5|  NULL| 20000|    usa|NULL| NULL|
|     4|  neha| 12000|    usa|NULL| NULL|
|     4|  neha| 12000|    usa|NULL| NULL|
|     1|manish| 10000|  india|NULL| NULL|
|     1|manish| 10000|  india|NULL| NULL|
|     6| rahul|  NULL|  india|NULL| NULL|
|     6| rahul|  NULL|  india|NULL| NULL|
+------+------+------+-------+----+-----+